/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$frame-color: black;
$hover-color: yellow;
$selected-color: orange;
$danger-color: red;

@mixin bottom-border-colorize($color) {
  color: invert($color);
  background-color: lighten($color, 25%);
  border-bottom: 1px solid $color;
}

header {
  padding: 4px;
  background-color: $frame-color;

  nav {
    display: inline-block;
    ol {
      li {
        @include transition(all 0.3s ease-in-out);

        color: invert($frame-color);
        background-color: lighten($frame-color, 50%);

        display: table-cell;
        vertical-align: middle;
        text-align: center;
        list-style-type: none;
        border-bottom: 1px solid black;

        &.selected {
          @include bottom-border-colorize($selected-color);
        }

        &:hover {
          @include bottom-border-colorize($hover-color);
        }

        width: 100px;
        a {
          color: inherit;
          text-decoration: none;
          padding: 0;
          display: block;
          text-align: center;
        }
      }
    }
  }

  button {
    @include transition(all 0.3s ease-in-out);

    float: right;
    height: 16px;
    padding: 8px;
    line-height: 0;
    vertical-align: top;

    border-radius: 8px;

    color: invert($danger-color);
    background-color: $danger-color;
    border: 1px solid darken($danger-color, 25%);

    &.selected {
      color: invert($selected-color);
      background-color: $selected-color;
      border: 1px solid darken($selected-color, 25%);
    }

    &:hover {
      color: invert($hover-color);
      background-color: $hover-color;
      border: 1px solid darken($hover-color, 25%);
    }
  }
}




